* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  background-color: whitesmoke !important;
}

body h1 {
  font-family: 'Piedra', cursive;
  color: #642485;
  font-size: 30px;
}

body h3 {
  font-size: 18px;
  font-weight: bold;
}

body h4 {
  font-size: 16.5px;
}

body p {
  font-size: 14px;
}

body p,
body li,
body ul,
body h3,
body h4 {
  font-family: 'Poppins', sans-serif;
}

.picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid black;
  padding: 15px;
  background-color: white;
}

hr {
  border: 8px dotted black !important;
  margin: 0 auto;
  width: 6%;
  border-style: dotted none none !important;
  text-align: center;
}

body .navbody {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #251d2c;
}

body .navbody .nav-link {
  margin-left: 2rem;
}

header {
  background-image: url("purple3.0.jpg");
  background-color: #a481c6;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
}

header .Me {
  padding: 1.2rem;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  width: 80% !important;
  height: 60%;
  position: absolute;
  outline: solid black;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

header .Me h1, header .Me p {
  position: relative;
  color: white;
  font-family: 'Piedra', cursive;
  margin-top: 1.5rem;
}

header .Me h1 {
  font-size: 60px;
}

.AboutMe {
  text-align: center;
  background-color: whitesmoke;
  margin: 60px 30px 0px;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1.5;
  grid-row-gap: 15px;
}

.AboutMe article {
  margin-bottom: 50px;
}

.AboutMe p {
  font-weight: 500;
  margin: 5px;
}

.AboutMe h3 {
  margin: 5px;
}

.Education {
  background-color: whitesmoke;
  margin: 60px 30px 0px;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 2fr;
  grid-row-gap: 30px;
}

.Education .spaceman {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.experience {
  background-color: whitesmoke;
  margin: 60px 30px 0px;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 2.5;
  grid-row-gap: 30px;
}

.experience article {
  margin-bottom: 50px;
}

.experience .spaceman2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  background-color: whitesmoke;
  margin: 60px 30px 0px;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 2fr;
  grid-row-gap: 30px;
}

.skills .spaceman3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chat {
  text-align: center;
  margin-top: 8rem;
}

.chat h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.chat p:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}

.chat input[type="submit"] {
  margin: 1rem 1rem 3rem;
  font-family: 'Poppins', sans-serif;
  background-color: #a481c6;
  padding: 1.5rem 2rem;
  border: 1px solid black;
  font-size: 30px;
}

.chat input[type="submit"]:hover {
  background-color: #8b5eb6;
}

body footer {
  padding: 3rem;
  background-color: black;
  color: white;
}

body footer p,
body footer a {
  font-size: 12px;
}

body footer a:hover {
  color: purple;
}

body footer .links {
  margin-bottom: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .links #git {
  margin-right: 3rem;
}

body footer a {
  color: white;
}

.Projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0rem;
}

.Projects .projectCard {
  margin: .5em;
  overflow: hidden;
  cursor: pointer;
  min-height: 12rem;
  min-width: 19rem;
}

.Projects .projectCard .child {
  width: 100%;
  height: 100%;
  background-color: black;
  /* fallback color */
  background-image: url("purple3.0.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.Projects .projectCard .bootStrap {
  background-image: url("boostrapSite.PNG");
}

.Projects .projectCard .javas {
  background-image: url("javascriptSite.PNG");
}

.Projects .projectCard .child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}

.Projects .projectCard:hover .child, .Projects .projectCard:focus .child {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.Projects .projectCard:hover .child:before, .Projects .projectCard:focus .child:before {
  display: block;
}

.Projects .projectCard:hover span, .Projects .projectCard:focus span {
  display: block;
}

.Projects span {
  display: none;
  font-size: 24px;
  color: #ffffff !important;
  font-family: 'Piedra', cursive;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (min-width: 550px) {
  .picture {
    width: 130px;
    height: 130px;
  }
  .Projects .projectCard {
    min-height: 14rem;
    min-width: 25rem;
  }
  header {
    height: 550px;
  }
  header article p {
    font-size: 17px;
  }
  .Me h1 {
    font-size: 50px;
  }
  .Me p {
    font-size: 30px;
  }
  body h1 {
    font-size: 32px;
  }
  body h3 {
    font-size: 20px;
  }
  body h4 {
    font-size: 18px;
  }
  body p {
    font-size: 16px;
  }
  .experience article ul li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-template: "job date";
  }
  .experience article ul li h3 {
    grid-area: job;
  }
  .experience article ul li h4 {
    grid-area: date;
    text-align: right;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  .picture {
    width: 160px;
    height: 160px;
  }
  header {
    height: 720px;
  }
  header article h1 {
    font-size: 40px;
  }
  header article p {
    font-size: 22px;
  }
  body h1 {
    font-size: 38px;
  }
  body h3 {
    font-size: 20px;
  }
  body h4 {
    font-size: 20px;
  }
  body p {
    font-size: 18px;
  }
  body .Education,
  .skills {
    -ms-grid-columns: 2fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-areas: "text text pic";
    margin: 135px 50px 0px 100px;
    padding-left: 3rem;
    padding-right: 2rem;
  }
  body .Education aside,
  .skills aside {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: pic;
  }
  body .Education article,
  .skills article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: text;
  }
  body .experience {
    -ms-grid-columns: 1.5fr 3.5fr;
        grid-template-columns: 1.5fr 3.5fr;
    margin: 135px 50px 0px 100px;
    padding-left: 1rem;
    padding-right: 4rem;
  }
  .chat h1 {
    font-size: 55px;
  }
  .chat p:nth-child(2) {
    font-size: 19px;
  }
  footer p,
  footer a {
    font-size: 15px !important;
  }
  footer .links #git {
    margin-right: 6rem;
  }
}
/*# sourceMappingURL=styles.css.map */