.header{
width: 100%;
height: 50px;
background-color: rgb(138,43,226);

}
.header h1{
    font-family: 'Lucida Sans';
    color: white;
    text-align: center;
    margin: 5px;
}

.footer{
    width: 100%;
    height: 60px;
    background-color:  rgb(138,43,226);
    text-align: center;
    position: absolute;
    bottom:0;
}
.footer a{
    font-family: 'Lucida Sans';
    color:white;
    padding: 0px 20px;
    margin: 20px;

}
.hobby{
    position:relative;

}
.hobby .codeimage{ 
    float:right;
    position:absolute;
    top:20px;
    right:200px;
    width:350px;
    height: 160px;
    content: url("https://www.girlscouts.org/images/who_we_are/our_partners/initiatives/made_with_code.jpg");
}
.hobby h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.hobby p{
width: 50%;

}
.hobby .runimage{ 
    float:right;
    position:absolute;
    top:20px;
    right:200px;
    width:300px;
    height: 180px;
    content: url("https://media.istockphoto.com/vectors/young-running-woman-isolated-vector-silhouette-run-side-view-vector-id925354566?k=6&m=925354566&s=612x612&w=0&h=9ZHOthv47iC2iP-Uy8WCvRY-2FMFvTKYY9bSEcKdPd4=");
}
