*{
  margin: 0px;
}
body{
  background-color: whitesmoke;
}
hr{
  border:8px dotted gray;
  margin: 0 auto;
  width:6%;
  border-style: dotted none none;
  text-align:center;
}
.Main{
  background-image: url("purple3.0.jpg");
  background-color:#a481c6;
  height: 100%;
  max-width: 100%;
  min-height: 400px;
}
.picture{
  width:160px; 
  height:160px;
  border-radius: 50%;
  margin-top: 70px;
  border: 5px solid black;
  padding:15px;
 
}
.header{
  text-align: right;
}

.myButton {
	
	background-color:#a481c6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a481c6;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 18px;
	text-decoration:none;
  text-shadow:0px 1px 0px #c2a9da;
  margin: 10px;
 
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c05dd4));
	background:-moz-linear-gradient(top, #a20dbd 5%, #c05dd4 100%);
	background:-webkit-linear-gradient(top, #a20dbd 5%, #c05dd4 100%);
	background:-o-linear-gradient(top, #a20dbd 5%, #c05dd4 100%);
	background:-ms-linear-gradient(top, #a20dbd 5%, #c05dd4 100%);
	background:linear-gradient(to bottom, #a20dbd 5%, #c05dd4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c05dd4',GradientType=0);
	background-color:#a20dbd;
}
.myButton:active {
	position:relative;
	top:1px;
}
.Me{
  text-align: center;
  align-content: center;
}
.Me h1{
  font-family: 'Courgette', cursive;
  margin-top: 0px;
  font-size: 43px;
  margin-bottom: 10px;
  position: relative;
  top:60px;
  
}
.Me .picture{
  margin:0px;
}
.Me p{
 /* font-family: 'Montserrat', sans-serif;*/
 font-family: 'Courgette', cursive;
  margin-top: 5px;
  font-size: 18px;
  position: relative;
  top:60px;
}
.transition{
 height:325px;
 position: relative;
 text-align: center;
 width: 100%;
}
.moon{
  width:90%;
  position:absolute;
  bottom:0;
  left:4%;
}

.AboutMe{
  text-align: center;
  width: 60%;
  position: relative;
  left:20%;
  background-color:whitesmoke;
   margin-bottom: 60px; 
}
.AboutMe .picture{
  background-color: white;
}
.AboutMe h1{
font-family: 'Courgette', cursive;
margin:0px;
color:#642485;
}
.AboutMe p{
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin:5px;
}
.AboutMe h3{
font-family: 'Poppins', sans-serif;
margin:5px;
}

.Education{
  background-color: whitesmoke;
  width: 60%;
  position: relative;
  left:12.5%;
  margin-top: 60px;
   margin-bottom: 60px; 
}
.Education h1{
  display: inline;
  font-family: 'Courgette', cursive;
  color:#642485;

}
 .Education p{
  width:80%;
  font-family: 'Poppins', sans-serif;
}
.Education ul, .Education li{
  width: 70%;
}
.Education li {
margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.Education h4{
  font-family: 'Poppins', sans-serif;
}
.spaceman{
  text-align: right;
  height: 60px;
}
.spaceman .picture{
  background-color: white;
  margin-left: 40px;
  position: absolute;
  margin-top: 0px;
  top: 40px;
  right:20px;
  
}
.experience{
  margin-top: 60px;
   background-color: whitesmoke;
  width: 60%;
  position: relative;
  left:32.5%;
   margin-bottom: 60px;
   text-align: right; 
}

.experience h1{
  display: inline;
  font-family: 'Courgette', cursive;
  color:#642485;
  position: relative;
  right: 47.5%;

}
 .experience p{
  width:80%;
  font-family: 'Poppins', sans-serif;
}
.experience ul, .experience li{
  width: 80%;
}
.experience ul{
  position: relative;
  left:25%;
  text-align: left;
}
.experience li {
margin-top: 20px;
font-family: 'Poppins', sans-serif;
}
.experience h4{
  font-family: 'Poppins', sans-serif;
}
.experience h3{
  display: inline;
}
.date{
 float:right;
 font-size:medium;

}
.spaceman2{
  text-align: left;
  height: 60px;
}
.spaceman2 .picture{
  background-color: white;
  position: relative;
  margin-top: 0px;
 bottom: 250px;
 right:175px;
}

